/*======================================

DASHBOARD LAYOUT

======================================*/

body{

margin:0;

background:#091018;

font-family:Arial, Helvetica, sans-serif;

color:white;

}

.dashboard-container{

display:flex;

height:calc(100vh - 75px);

}

.dashboard-header{

height:75px;

background:#101826;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;

border-bottom:1px solid rgba(255,255,255,.08);

}

.sidebar{

width:280px;

background:#111827;

border-right:1px solid rgba(255,255,255,.08);

padding:30px;

}

.dashboard-content{

flex:1;

padding:40px;

overflow:auto;

}

/*======================================
        HEADER
======================================*/

.header-left{

    display:flex;

    align-items:center;

    gap:18px;

}

.header-logo{

    width:55px;

}

.header-left h2{

    margin:0;

    font-size:22px;

}

.header-left span{

    color:#b8b8b8;

    font-size:14px;

}

.header-right{

    display:flex;

    align-items:center;

    gap:25px;

}

.logout-btn{

    background:#d4a017;

    color:#111;

    padding:12px 20px;

    border-radius:10px;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}

.logout-btn:hover{

    transform:translateY(-3px);

}

.sidebar h3{

    margin-bottom:30px;

}

.sidebar ul{

    list-style:none;

    padding:0;

}

.sidebar li{

    padding:18px;

    margin-bottom:15px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;

}

.sidebar li:hover{

    background:#1d2939;

}

.sidebar .active{

    background:#d4a017;

    color:#111;

    font-weight:bold;

}
.kpi-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

    margin:35px 0;

}

.kpi-card{

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:30px;

}

.kpi-card h2{

    margin:0;

    font-size:38px;

    color:#d4a017;

}

.kpi-card span{

    color:#c5c5c5;

}
.powerbi-container{

    margin-top:40px;

    height:750px;

    border-radius:20px;

    overflow:hidden;

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.powerbi-container iframe{

    width:100%;

    height:100%;

    border:none;

}
