/*======================================

DASHBOARD LAYOUT

======================================*/

body{

margin:0;

background:#091018;

font-family:Arial, Helvetica, sans-serif;

color:white;

}

.dashboard-container{

display:flex;

height:calc(100vh - 75px);

}

.dashboard-header{

height:75px;

background:#101826;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;

border-bottom:1px solid rgba(255,255,255,.08);

}

.sidebar{

width:280px;

background:#111827;

border-right:1px solid rgba(255,255,255,.08);

padding:30px;

}

.dashboard-content{

flex:1;

padding:40px;

overflow:auto;

}