*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat', sans-serif;
    background:black;
    color:white;
    overflow-x:hidden;
}

/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:90px;

    display:grid;
    grid-template-columns:auto 1fr auto;
    align-items:center;

    padding:0 60px;
    z-index:9999;
}

.navbar.scrolled{
    background:rgba(0,0,0,0.9);
}

.logo{
    justify-self:start;
}
.logo img{
    max-height:150px;
    width:auto;
}

nav{
    justify-self:center;
    display:flex;
    gap:40px;
    align-items:center;
}

.menu-btn{
    justify-self:end;
    font-size:28px;
    cursor:pointer;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:14px;
    font-weight:600;
    transition:0.3s;
}

nav a:hover{
    opacity:0.7;
}

/* HERO */

.hero{
    height:100vh;
    position:relative;
    display:flex;
    align-items:center;
    padding:140px 60px 80px;

    background-image:
    linear-gradient(
        to top,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.35)
    ),
    url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?q=80&w=1974&auto=format&fit=crop');

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.2)
    );
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:700px;
}

.subtitle{
    font-size:16px;
    margin-bottom:20px;
    letter-spacing:3px;
}

.hero h1{
    font-size:58px;
    line-height:1;
    font-weight:900;
    margin-bottom:30px;
    max-width:700px;
}

.hero-btn{
    padding:18px 45px;
    border:2px solid white;
    background:transparent;
    color:white;
    cursor:pointer;
    font-size:14px;
    font-weight:700;
    transition:0.4s;
}

.hero-btn:hover{
    background:white;
    color:black;
}

/* SERVICES */

.services{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

    gap:45px;

    padding:140px 80px;

    background:#050505;

}

.service-card{

    background:#0d0d0d;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:45px;

    transition:.45s;

    position:relative;

    overflow:hidden;

    cursor:pointer;

}

.service-card::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        135deg,
        rgba(255,187,0,.08),
        transparent 60%
    );

    opacity:0;

    transition:.45s;

}

.service-card:hover{

    transform:translateY(-12px);

    border-color:#d4a017;

    box-shadow:
        0 0 18px rgba(212,160,23,.35),
        0 0 45px rgba(212,160,23,.15);

}

.service-card:hover::before{

    opacity:1;

}

.service-card h2{

    font-size:34px;

    margin-top:25px;

    margin-bottom:20px;

    font-weight:700;

}

.service-card p{

    color:#bdbdbd;

    line-height:1.8;

    font-size:18px;

}

/* ABOUT */

.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:140px 60px;
    gap:50px;
    background:black;
}

.about h2{
    font-size:60px;
    line-height:1.1;
}

.about p{
    font-size:20px;
    line-height:1.8;
    opacity:0.8;
}

/* SOLUTIONS */

.solutions{
    display:grid;
    grid-template-columns:repeat(3,1fr);
}

.solution{
    height:350px;
    display:flex;
    align-items:flex-end;
    padding:40px;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow:hidden;
}

.solution::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
    top:0;
    left:0;
}

.solution h3{
    position:relative;
    z-index:2;
    font-size:32px;
}

.solution:nth-child(1){
    background-image:url('https://images.unsplash.com/photo-1554224155-6726b3ff858f');
}

.solution:nth-child(2){
    background-image:url('https://images.unsplash.com/photo-1516321318423-f06f85e504b3');
}

.solution:nth-child(3){
    background-image:url('https://images.unsplash.com/photo-1460925895917-afdab827c52f');
}

/* CONTACT */

.contact{
    padding:150px 60px;
    text-align:center;
    background:#050505;
}

.contact h2{
    font-size:70px;
    margin-bottom:20px;
}

.contact p{
    max-width:700px;
    margin:auto;
    line-height:1.8;
    opacity:0.8;
    margin-bottom:40px;
}

.contact button{
    padding:20px 50px;
    background:white;
    color:black;
    border:none;
    font-weight:700;
    cursor:pointer;
    transition:0.4s;
}

.contact button:hover{
    opacity:0.8;
}

/* RESPONSIVE */

@media(max-width:1000px){

    .hero h1{
        font-size:55px;
    }

    .services{
        grid-template-columns:1fr;
    }

    .solutions{
        grid-template-columns:1fr;
    }

    .about{
        grid-template-columns:1fr;
    }

    nav{
        display:none;
    }

}

/* HERO INTERNO */

.page-hero{
    height:50vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    position:relative;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    padding-top:90px;
}

.page-hero::before{
    content:'';
    position:absolute;
    inset:0;

    background:rgba(0,0,0,0.65);
}

.page-hero-content{
    position:relative;
    z-index:2;
}

.page-hero h1{
    font-size:70px;
    font-weight:900;
    margin-bottom:20px;
}

.page-hero p{
    font-size:18px;
    opacity:.8;
    max-width:700px;
}

/* FONDOS PARA CADA PAGINA */

.services-banner{
    background-image:
    url('https://images.unsplash.com/photo-1554224155-6726b3ff858f?q=80&w=1974&auto=format&fit=crop');
}

.about-banner{
    background-image:
    url('https://images.unsplash.com/photo-1521791136064-7986c2920216?q=80&w=1974&auto=format&fit=crop');
}

.solutions-banner{
    background-image:
    url('https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1974&auto=format&fit=crop');
}

.contact-banner{
    background-image:
    url('https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=1974&auto=format&fit=crop');
}

.icon{

    font-size:52px;

    color:#d4a017;

    margin-bottom:10px;

    transition:.4s;

}

.service-card:hover .icon{

    transform:scale(1.15);

    text-shadow:0 0 18px rgba(212,160,23,.7);

}

.arrow{

    margin-top:35px;

    color:#d4a017;

    font-size:34px;

    transition:.4s;

}

.service-card:hover .arrow{

    transform:translateX(12px);

}

/* ===========================
   PORTAL DE CLIENTES
=========================== */

.clients{

    padding:100px 70px;

    background:#050505;

    text-align:center;

}

.clients h2{

    font-size:48px;

    margin-bottom:60px;

    font-weight:800;

}

.client-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:35px;

}

.client-card{

    background:#111;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:40px;

    transition:.4s;

    cursor:pointer;

}

.client-card:hover{

    transform:translateY(-10px);

    border-color:#d4a017;

    box-shadow:
    0 0 20px rgba(212,160,23,.30);

}

.client-card img{

    width:140px;

    height:90px;

    object-fit:contain;

    margin-bottom:25px;

}

.client-card h3{

    font-size:22px;

    margin-bottom:10px;

}

.client-card p{

    color:#999;

}

/* ===========================
      LOGIN CLIENTES
=========================== */

.login-section{

    background:#050505;

    padding:120px 20px;

    display:flex;

    justify-content:center;

}

.login-card{

    width:500px;

    background:rgba(20,20,20,.90);

    border:1px solid rgba(255,255,255,.08);

    border-radius:22px;

    padding:55px;

    backdrop-filter:blur(15px);

    transition:.4s;

    box-shadow:0 15px 40px rgba(0,0,0,.45);

}

.login-card:hover{

    border-color:#d4a017;

    box-shadow:
        0 0 20px rgba(212,160,23,.25),
        0 20px 45px rgba(0,0,0,.55);

}

.login-icon{

    width:80px;

    height:80px;

    margin:auto;

    margin-bottom:20px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:34px;

    border-radius:50%;

    background:#d4a017;

}

.login-card h2{

    text-align:center;

    font-size:34px;

    margin-bottom:15px;

}

.login-text{

    text-align:center;

    color:#999;

    margin-bottom:40px;

    line-height:1.6;

}

.input-group{

    margin-bottom:25px;

}

.input-group label{

    display:block;

    margin-bottom:10px;

    font-weight:600;

}

.input-group input{

    width:100%;

    padding:18px;

    border-radius:12px;

    border:1px solid rgba(255,255,255,.08);

    background:#111;

    color:white;

    font-size:16px;

    transition:.3s;

}

.input-group input:focus{

    outline:none;

    border-color:#d4a017;

    box-shadow:0 0 15px rgba(212,160,23,.25);

}

.login-btn{

    width:100%;

    padding:18px;

    border:none;

    border-radius:12px;

    margin-top:20px;

    font-size:17px;

    font-weight:700;

    background:#d4a017;

    color:#111;

    cursor:pointer;

    transition:.35s;

}

.login-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 0 20px rgba(212,160,23,.45);

}

/*======================================
            MODAL LOGIN
======================================*/

.modal{

    display:none;

    position:fixed;

    z-index:99999;

    left:0;

    top:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.75);

    backdrop-filter:blur(8px);

    justify-content:center;

    align-items:center;

}

.modal-content{

    width:480px;

    background:#111;

    border-radius:20px;

    padding:45px;

    border:1px solid rgba(255,255,255,.08);

    position:relative;

    animation:modalOpen .35s ease;

    box-shadow:0 25px 60px rgba(0,0,0,.6);

}

@keyframes modalOpen{

    from{

        opacity:0;

        transform:translateY(-30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.close{

    position:absolute;

    right:25px;

    top:18px;

    font-size:34px;

    cursor:pointer;

    color:white;

    transition:.3s;

}

.close:hover{

    color:#d4a017;

}

.modal-content h2{

    text-align:center;

    margin-bottom:10px;

    font-size:34px;

}

.modal-content p{

    text-align:center;

    color:#aaa;

    margin-bottom:35px;

}

.modal-content form{

    display:flex;

    flex-direction:column;

}

.modal-content label{

    margin-bottom:8px;

    margin-top:18px;

    font-weight:600;

}

.modal-content input,
.modal-content select{

    padding:16px;

    border-radius:10px;

    border:1px solid rgba(255,255,255,.08);

    background:#1a1a1a;

    color:white;

    font-size:15px;

}

.modal-content input:focus,
.modal-content select:focus{

    outline:none;

    border-color:#d4a017;

    box-shadow:0 0 15px rgba(212,160,23,.25);

}

.modal-content button{

    margin-top:35px;

    padding:18px;

    border:none;

    border-radius:10px;

    background:#d4a017;

    color:black;

    font-size:16px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}

.modal-content button:hover{

    transform:translateY(-3px);

    box-shadow:0 0 18px rgba(212,160,23,.4);

}

.empresa-seleccionada{

    margin-top: 10px;
    margin-bottom: 25px;

    color: #d4a017;

    font-weight: 600;

    text-align: center;

    font-size: 16px;

}
